<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>TechApps Tave</title>
     <meta http-equiv="refresh" content="1; url=index.html">
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
        body {
            background: black;
            color: white;
        }
    </style>
</head>
<body>

 <div style="width: 80%; padding-left: 20%;" >
    <br>

    <div class="card text-center" style="background: black; border-radius: 20px;">
        <div class="card-header">
          <img src="Tave Dev Tools Extension/src/128.png" hidden alt="">
        </div>
        <div class="card-body">
          <!-- <h5 class="card-title">TechApps Tave Browser</h5> -->
          <p class="card-text">
             <!-- Beta Version -->

             <br>
             <!-- <p style="color: red;">THESE FUNCTIONS MAY BE NOT SERVING OR CAUSE MISTAKES</p> -->


          </p>
          <br>
          <br>

          <br>
          <br>


<img src="https://avatars1.githubusercontent.com/u/57732394?s=460&u=61052a614c538b8c65c4540a753db1e4d9523ef1&v=4" style="border-radius: 180px;" alt="">

          <br>
          <br>
        <br>
          <br>
          <br>
          <br>

        </div>
        <div class="card-footer text-muted">
         <!-- <p style="text-align: left;"> TechApps Tave Browser</p> -->

<p ">          TechApps</p>

        </div>
      </div>

 </div>

 </div>
</body>
</html>