<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Acerda De LostCore</title>
    <link href="https://fonts.googleapis.com/css2?family=Poppins&display=swap" rel="stylesheet">
    <!-- CSS only -->
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css" integrity="sha384-9aIt2nRpC12Uk9gS9baDl411NQApFmC26EwAOH8WgZl5MYYxFfc+NcPb1dKGj7Sk" crossorigin="anonymous">

<!-- JS, Popper.js, and jQuery -->
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js" integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI" crossorigin="anonymous"></script>
    <style>
        * {
            font-family: 'Poppins', sans-serif;
            text-align: center;
        }
        body {
            background: #1E1E21;
            color: white;
        }
    </style>
</head>
<body>

 <div style="width: 80%; padding-left: 20%;" >
    <br>
    <br>
    <br>
    <div class="card text-center" style="background: black; border-radius: 20px;">
        <div class="card-header">
          <img src="../../assets/lostcore.png" alt="">
        </div>
        <div class="card-body">
          <h5 class="card-title">LostCore Browser</h5>
          <p class="card-text">
              Version: 1.0
              <br>
            

          </p>
          <a href="https://github.com/TechAppsSv/" onclick="window.open(this.href, this.target, 'width=1366,height=768'); return false;" class="btn btn-primary">Desarrolladora</a>
          <a href="#" onclick="window.open(this.href, this.target, 'width=1366,height=768'); return false;" class="btn btn-info">Familia de navegadores basados en LostCore</a> 
          <a href="#"  onclick="window.open(this.href, this.target, 'width=1366,height=768'); return false;" class="btn btn-warning">Documentacion para desarrolladores</a>
          <a href="index.html"   class="btn btn-danger">Volver</a>
        </div>
        <div class="card-footer text-muted">
         <p style="text-align: left;">  LostCore Browser</p>

<p style="text-align: left;">          TechApps Desarrollador</p>
          <br>
         LostCore Browser es una realidad gracias al proyecto de codigo fuente abierto <a href="https://www.electronjs.org/"  onclick="window.open(this.href, this.target, 'width=1366,height=768'); return false;">Electron</a> </a>
        </div>
      </div>

 </div>

 </div>
</body>
</html>